<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="description" content="PiTV - Smart TV solution for Raspberry Pi">
	<meta name="author" content="Aleksa Ognjanovic">
	<meta name="keywords" content="PiTV, Smart, TV, Raspberry">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.min.css' %}" />
	<link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">

	{% if title %}
	<title>PiTV - {{ title }}</title>
	{% else %}
	<title>PiTV</title>
	{% endif %}

</head>

<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
		<a class="navbar-brand" href="{% url 'pitv-home' %}">
			<img src="{% static 'images/logo.png' %}" width="80" alt="">
		</a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>

	<!-- JavaScript required for bootstrap -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>