{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<!-- Add jumbotron and landing image-->

<div class="container-fluid px-0" id="landing">
    <div class="py-1 px-2 text-center rounded text-primary bg-light m-auto">
        <h1>PiTV</h1>
        <p class="lead my-0">{% trans 'Smart TV solution for Raspberry Pi with focus on user-friendly interface' %}</p>
    </div>
</div>

<div class="container pt-3" id="features">
    <div class="row py-2">
        <div class="col-md-5">
            <h2>{% trans 'Beautiful UI' %}</h2>
            <p class="lead">{% trans 'TODO: Description I am going to write.' %}</p>
        </div>
        <div class="col-md-7 text-right">
            <!-- TODO: Add image of dark/white screenshot -->
            <img class="img-fluid rounded" src="https://via.placeholder.com/768x432" />
        </div>
    </div>
    <hr />
    <div class="row py-2">
        <div class="col-md-7">
            <!-- TODO: add screenshot -->
            <img class="img-fluid rounded" src="https://via.placeholder.com/768x432" />
        </div>
        <div class="col-md-5">
            <h2>{% trans 'User-friendly' %}</h2>
            <p class="lead">{% trans 'TODO: Description I am going to write.' %}</p>
        </div>
    </div>
    <hr />
    <div class="row py-2">
        <div class="col-md-5">
            <h2>{% trans 'Open source' %}</h2>
            <p class="lead">{% trans 'TODO: Description I am going to write.' %}</p>
        </div>
        <div class="col-md-7 text-right">
            <!-- TODO: add something -->
            <img class="img-fluid rounded" src="https://via.placeholder.com/768x432" />
        </div>
    </div>
</div>

{% endblock %}