{% load static %}
{% load i18n %}
{% load widget_tweaks %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="PiTV - Smart TV solution for Raspberry Pi">
    <meta name="author" content="Aleksa Ognjanovic">
    <meta name="keywords" content="PiTV, Smart, TV, Raspberry">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/style.min.css' %}" />

    {% if title %}
    <title>PiTV - {{ title }}</title>
    {% else %}
    <title>PiTV</title>
    {% endif %}

</head>

<body class="text-center d-flex flex-column min-vh-100">

    <form class="form-signin" method="POST">
        {% csrf_token %}

        <a href="{% url 'pitv-home' %}">
            <img class="mb-4" src="{% static 'images/logo2.png' %}" alt="" width="100" height="100">
        </a>
        <h3 class="h3 mb-3 font-weight-normal">{% trans 'Log in' %}</h3>

        <div class="form-row my-2">
            <div class="col-md">
                <label for="{{ form.username.auto_id }}" class="sr-only">{% trans 'Username'%}</label>
                {% if form.errors.username %}
                    {% render_field form.username class+="is-invalid" %}
                {% else %}
                    {{ form.username }}
                {% endif %}
                {% for error in form.errors.username %}
                <div class="invalid-feedback d-block">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="form-row my-2">
            <div class="col-md">
                <label for="{{ form.username.auto_id }}" class="sr-only">{% trans 'Username'%}</label>
                {% if form.errors.password %}
                    {% render_field form.password class+="is-invalid" %}
                {% else %}
                    {{ form.password }}
                {% endif %}
                {% for error in form.errors.password %}
                <div class="invalid-feedback d-block">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
        </div>

        {% if form.non_field_errors %}
        <div class="invalid-feedback d-block text-left">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Log in' %}</button>
        <p class="small text-muted">
            {% trans 'Need an account?' %}
            <a href="{% url 'pitv-signup' %}">{% trans 'Sign up'%}</a>
            {% trans 'now!' %}
        </p>
    </form>

    <p class="text-muted small mb-1">© 2020 Copyright: <a href="{% url 'pitv-home' %}">{{ request.get_host }}</a></p>
    <!-- JavaScript required for bootstrap -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>