{% load static %}
{% load i18n %}
{% load widget_tweaks %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="PiTV - Smart TV solution for Raspberry Pi">
    <meta name="author" content="Aleksa Ognjanovic">
    <meta name="keywords" content="PiTV, Smart, TV, Raspberry">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/style.min.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet"> 

    {% if title %}
    <title>PiTV - {{ title }}</title>
    {% else %}
    <title>PiTV</title>
    {% endif %}

</head>

<body class="text-center d-flex flex-column min-vh-100">

    <form class="form-signin" method="POST">
        {% csrf_token %}
        <a href="{% url 'pitv-home' %}">
            <img class="mb-4" src="{% static 'images/logo2.png' %}" alt="" width="100" height="100">
        </a>
        <h3 class="h3 mb-3 font-weight-normal">{% trans 'Sign up' %}</h3>

        <div class="form-row my-2">
            <div class="col-md">
                <label for="{{ form.username.auto_id }}" class="sr-only">{% trans 'Username'%}</label>
                {% if form.errors.username %}
                    {% render_field form.username class+="is-invalid" %}
                {% else %}
                    {{ form.username }}
                {% endif %}
                {% for error in form.errors.username %}
                <div class="invalid-feedback d-block">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="form-row my-2">
            <div class="col-md">
                <label for="{{ form.first_name.auto_id }}" class="sr-only">{% trans 'First Name'%}</label>
                {% if form.errors.first_name %}
                    {% render_field form.first_name class+="is-invalid" %}
                {% else %}
                    {{ form.first_name }}
                {% endif %}
                {% for error in form.errors.first_name %}
                <div class="invalid-feedback d-block">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
            <div class="col-md">
                <label for="{{ form.last_name.auto_id }}" class="sr-only">{% trans 'Last Name'%}</label>
                {% if form.errors.last_name %}
                    {% render_field form.last_name class+="is-invalid" %}
                {% else %}
                    {{ form.last_name }}
                {% endif %}
                {% for error in form.errors.last_name %}
                <div class="invalid-feedback d-block">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="form-row my-2">
            <div class="col-md">
                <label for="{{ form.email.auto_id }}" class="sr-only">{% trans 'E-Mail Address'%}</label>
                {% if form.errors.email %}
                    {% render_field form.email class+="is-invalid" %}
                {% else %}
                    {{ form.email }}
                {% endif %}
                {% for error in form.errors.email %}
                <div class="invalid-feedback d-block">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="form-row my-2">
            <div class="col-md">
                <label for="{{ form.password1.auto_id }}" class="sr-only">{% trans 'Password' %}</label>
                {% if form.errors.password1 %}
                    {% render_field form.password1 class+="is-invalid" %}
                {% else %}
                    {{ form.password1 }}
                {% endif %}
                {% for error in form.errors.password1 %}
                <div class="invalid-feedback d-block">
                    {{ error }}
                </div>
                {% endfor %}
            </div>

        </div>

        <div class="form-row my-2">
            <div class="col-md">
                <label for="{{ form.password2.auto_id }}" class="sr-only">{% trans 'Confirm password' %}</label>
                {% if form.errors.password2 %}
                    {% render_field form.password2 class+="is-invalid" %}
                {% else %}
                    {{ form.password2 }}
                {% endif %}
                {% for error in form.errors.password2 %}
                <div class="invalid-feedback d-block">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
        </div>

        {% if form.non_field_errors %}
        <div class="invalid-feedback d-block text-left">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Sign up' %}</button>
        <p class="small text-muted">
            {% trans 'Already have an account?' %}
            <a href="{% url 'pitv-login' %}">{% trans 'Sign in'%}</a>
            {% trans 'now!' %}
        </p>
    </form>


    <p class="text-muted small mb-1">© 2020 Copyright: <a href="{% url 'pitv-home' %}">{{ request.get_host }}</a></p>
    <!-- JavaScript required for bootstrap -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>